{
  "calendar": {
    "google_sheet": {
      "url": "https://docs.google.com/spreadsheets/d/<your_sheet>/edit?usp=sharing"
    }
  },
  "oauth2": {
    "client_id": "something.apps.googleusercontent.com",
    "client_secret": ""
  },
  "slack": {
    "webhook_url": "https://hooks.slack.com/services/something",
    "salute_prefix": "Happy bday",
    "salute_suffix": "! :tada:"
  }
}
